<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <title>Mascotas Perdidas</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/style-index.css">
</head>

<body>
  <header>
      <div class="menu">
        <nav>
          <ul>
            <li><a id="selected" href="/">Inicio</a></li>
            <li><a href="/registrar">Registrar mascota</a></li>
            <li><a href="/consultar">Consultar mascotas</a></li>
          </ul>
        </nav>
      </div>
  </header>

  <main>
    <div class="container">
      <p>Bienvenido</p>

      <div class="container-buttons">
        <a href="/registrar"><button class="btn-registrar" type="button">Encontré una mascota</button></a>
        <a href="/consultar"><button class="btn-consultar" type="button">Consultar mascotas perdidas</button></a>
      </div>
    </div>
  </main>

  <footer>
    <table>
      <tr>
        <td><p>Hecho por: </p></td>
        <td><p>Javier Molina Barroso</p></td>
      </tr>
      <tr>
        <td><p>E-mail: </p></td>
        <td><p>Javiermolina.1707@gmail.com</p></td>
      </tr>
    </table>
  </footer>

</body>
</html>