<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Mascotas perdidas - Dueño</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/style-soy-su-dueno.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
          crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="menu">
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/registrar">Registar mascota</a></li>
          <li><a id="selected" href="/consultar">Consultar mascotas</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div class="container mt-4 vj-destacados">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="container-form">
            <p>Necesitamos tu información</p>
            <form action="#" th:action="@{/save-dueno/}+${miMascota.getId_mascota()}" th:object="${dueno}"
                  method="POST" class="col-12 mb-4">
              <div class="col-6 mb-4" th:Object="${miMascota}">
                <div class="card">
                  <img class="card-img-top" th:src="${miMascota.getFotografia()}">
                  <div class="card-body">
                    <h5 class="card-title" th:text="'Código: '+${miMascota.getId_mascota()}"></h5>
                    <div class="card-text">
                      <p th:text="'Encontrada por: '+${miMascota.getSamaritano().getPrimer_nombre_samaritano()} + ' ' + ${miMascota.getSamaritano().getPrimer_apellido_samaritano()}"></p>
                      <p th:text="'Telefono de contacto: '+${miMascota.getSamaritano().getTelefono_samaritano()}"></p>
                      <p th:text="'Dirección: '+${miMascota.getSamaritano().getDireccion_samaritano()}"></p>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button class="btn-registrar" type="submit">Marcar como recogido</button>
                  </div>
                </div>
              </div>
              <table>
                <tr>
                  <td><label for="primer_nombre">Primer nombre: </label></td>
                  <td><input th:field="*{primer_nombre_dueno}" type="text" name="primer_nombre"
                             id="primer_nombre"
                             placeholder="Primer nombre" size="15" autofocus required></td>
                  <td><label for="primer_apellido">primer apellido: </label></td>
                  <td><input th:field="*{primer_apellido_dueno}" type="text" name="primer_apellido"
                             id="primer_apellido"
                             placeholder="primer apellido" size="15" required>
                  </td>
                </tr>
                <tr>
                  <td><label for="cedula">Identificación (cedula): </label></td>
                  <td><input th:field="*{cedula_dueno}" type="text" name="cedula" id="cedula" placeholder="Cedula"
                             size="15" required></td>
                  <td><label for="telefono">Telefono: </label></td>
                  <td><input th:field="*{telefono_dueno}" type="text" name="phone" id="telefono"
                             placeholder="+(XX) XXX-XXXXXX" size="15" required></td>
                </tr>
                <tr>
                  <td><label for="direccion">Dirección: </label></td>
                  <td><input th:field="*{direccion_dueno}" type="text" name="direccion" id="direccion"
                             placeholder="Dirección"
                             size="15"
                             required></td>
                </tr>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>

  </main>

  <footer>
    <table>
      <tr>
        <td><p>Hecho por: </p></td>
        <td><p>Javier Molina Barroso</p></td>
      </tr>
      <tr>
        <td><p>E-mail: </p></td>
        <td><p>Javiermolina.1707@gmail.com</p></td>
      </tr>
    </table>
  </footer>
</body>

</html>